# Gradle files
.gradle/
build/
app/build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio local files
.idea/
*.iml

# Ignore APKs universally EXCEPT app-debug.apk in the root folder
*.apk
!/app-debug.apk
